header,
main,
footer {
  padding-left: 240px;
}

#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #BCC2E2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}
 .progress_bar
{
  width:100px;
  height:5px;
  border-radius:20px;  
  display:inline-block;
}
 
form div p
{
  color:#F2F2F2;
  margin:0px;
  margin-top:10px;
  font-weight:bold;
}
form div .form_head
{
  font-size:22px;
  font-weight:bold;
  margin-bottom:30px;
}
form div input[type="text"]
{
  width:200px;
  height:40px;
  padding:5px;
  border-radius:5px;
  border:none;
  margin-top:10px;
}
 form div input[type="button"],input[type="submit"]
{
  width:80px;
  height:40px;
  border-radius:5px;
  border:2px solid white;
  background:none;
  color:white;
  margin:5px;
  margin-top:10px;
}

.qontainer {
  background: white;
  padding: 20px 25px;
  border: 5px solid #bd9b60;
  margin: 20px auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
}


.qontainer {
  animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}
#contact_details,#extra_details{
  display: none;
}

@keyframes showUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transoform: scale(1);
  }
}
.row {margin-bottom: 10px;}

.ngl {
  position: absolute;
  top: -20px;
  right: -20px;
}


@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}