/*footer*/
.footer-bs {
   background-image: linear-gradient(-90deg,#CCC39E,#CDB44F);
    padding: .5rem;
    color:black;   
    border-bottom-right-radius: .6rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: .6rem;
    font-size: 2rem;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding: .6rem .5rem; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0 0 1rem; font-size: 2rem;}
.footer-bs .footer-brand p { font-size:1.2rem; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:.5rem 0;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom:.5rem;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0; }
.footer-bs .footer-nav ul.list li { padding:.5rem 0;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0; }
.footer-bs .footer-social h4 {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}
.footer-bs .footer-social li { padding:.5rem .4rem;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
}
.footer-bs .footer-ns p { font-size:1.5rem; color:rgba(255,255,255,0.70); 
}

/*
@media only screen and (max-width: 360px) {
h1 {
  margin: 0 0 2rem 0;
  font-weight: 300;
  font-size: 2.8rem;
}
.btn{margin:.6rem;}*/  
      
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

html,body,main{ width: 100%;margin: 0;padding: 0;}   
.slider{width: 100%;margin: 0.8rem 0;height: 18rem;}
.flip-box {	height: 15rem;margin: 1.3rem 0;}
#login-box {position: relative;margin: 5% auto;width: 100%;height: 50rem;background: #FFF;border-radius: .2rem;box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.4);}
.box,.flex-container{margin: 0;padding: 0;}
#box .btn{ margin-right: 17rem;}
h1,h5, p {max-width: 30rem;}
.card{margin:1.6rem 0;}
.list li .valign-wrapper large{width:8rem;height:8rem}
.cardbox{width: 100%;margin: 0;padding: 0;background: white;height: auto;} 

.container {width: 100%;padding: 1rem;}
.carousel .carousel-item {width: 100%;}
	.column {
		width: 100%;
		display: block;
		margin-bottom: 10px;
	}
	.pard {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 16px;
		text-align: center;
		background-color: #444;
		color: white;
	}

/*Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html, body, main {
		width: 100%;
		margin: 0;
		padding: 0;
	}   
	header, main, footer {
		padding-left: 0;
	}

	.slider {
		width: 100%;
		margin: 1rem 0;
		height: 18rem;
	}

	.box, .flex-container {
		margin: 0;
		padding: 0;
	}

	.flip-box {
		height: 13rem;
		margin: 2rem 0;
	}
    .front-card-content h6{
        font-size: 3rem;
        padding: 0;
        margin: 0;

    }
	
}

/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (max-width: 768px){
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main {
		margin: 7.1rem auto;
		width: 95rem;
	}
	.flex-container {
		margin: 9rem auto;
		padding: 3rem 0;
	}
	.flip-box {
		height: 25rem;
		padding:1.6rem;
	}
	
} 
/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {
	main {
		margin: 7.1rem auto;
		width: 95rem;
	}
	}

