*{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{	font-size:62.5%;}


body{
  width: 100%; 
  margin:0 auto;  
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  background:#f0f0f0;  
  font-weight:400;   
  box-sizing:border-box;
  font-size:1.6rem;
}

a{font-size: 1.5rem;}

.p2{ padding: 2rem;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-staff {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-staff a {
  color: black;  
  text-decoration: none;
  padding:1rem;
  display: block;
  font-size: 1.6rem;
  z-index: 777;
}

.dropdown-staff a:hover {background-color: #D6EB84;}

.dropdown:hover .dropdown-staff, .dropdown:active .dropdown-staff {display: block;}

.dropdown:hover .dropbtn {background-color: #D6EB84;color:black;}

.mb-2{margin-bottom: 2rem;}

.mt-2{margin-top: 2rem;}

.section{ margin: 0 1.6rem;}

nav{  
  background-color:#CDB44F;    
  z-index: 888;  
}

.bighead{font-size:4rem; font-weight:bolder;}

.small-text{font-size: 3rem;}

.plogo{
  margin: 0;
  padding: 0;   
}
.stick {
	position: fixed;	
	z-index:400;	
}


/*home*/

/*main*/
.slides li .caption h1,h5, p {
  text-align: center;
  color: #fff;
  margin: .5rem auto;
  max-width: 70rem;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 2.4rem 0;
}
.slides li .caption h1:after {
    content:' ';
    display:block;
    border:.2rem solid #d0d0d0;   
    border-radius:.2rem;
    -webkit-border-radius:.4rem;
    -moz-border-radius:.4rem;
    box-shadow:inset 0 .1rem .1rem rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 .1rem .1rem rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 .1rem .1rem rgba(0, 0, 0, .05);
}
/*slider*/
.slider .indicators .indicator-item {
  background-color: #666666;
  border: .3rem solid #ffffff;
  -webkit-box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active {
  background-color:#CDB44F;
}
.slider {
  margin-bottom:2rem; 
  margin: 2rem auto;
}
.slider .indicators {
  bottom: 6rem;
  z-index: 100;
  /* text-align: left; */
}
.pimg {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 9px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 40rem; /* Set a small width */
}
/*business*/
/* Float four columns side by side */
.column {
	float: left;
	width: 25%;
	padding: 0 .5rem;
}

.eview {
	margin: 0 -.5rem;
}

	/* Clear floats after the columns */
.eview:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Clear floats after the columns */
.eview:after {
		content: "";
		display: table;
		clear: both;
	}

.business p{
  font-size: 1.7rem; 
  padding: 2rem 0;
  margin: 1.8rem 0; 
} 
.business img{
  padding: 1rem 0 0 0;
} 
.nunu{
	width:90%;
	margin:3rem auto;
	background-image:linear-gradient(to right,rgba(205,180,75,0.9),rgba(255,128,128,0.8)),url("business.jpg");
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
	background-size:contain;
    padding:2rem;
}
.prim{ color:#CDB44F;}

.conplus{
  border-left: 3rem solid #CDB44F;
}
/*eventview*/

 .content {	
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;	
	padding: 2rem;
}
/*create*/
.card{
  margin: 1.1rem auto;   
}

.cardbox{
  width: 100%;
  height: 35rem;
  overflow: hidden;
  margin: 2.6rem 1.6rem;
  padding: 1.6rem 1.6rem 0 12.6rem;  
  background: white;
}
.card-title{
  padding: .5rem;
}

ol li:hover{
  color:#CDB44F; 
  
}
/*event form*/
/* label focus color */
 .input-field textarea:focus + label,
 .input-field input[type=date]:focus + label,
 .input-field input[type=password]:focus + label ,
 .input-field input[type=number]:focus + label,
 .input-field input[type=email]:focus + label ,
 .input-field input[type=text]:focus + label ,
 .materialize-textarea:focus + label,
 .input-field materialize-textarea:focus + label  {
     color: #CDB44F !important;
   }

   /* label underline focus color */
.input-field textarea:focus,  
.input-field input[type=text]:focus,  
.input-field input[type=email]:focus, 
.materialize-textarea:focus, 
.input-field materialize-textarea:focus,  
.input-field input[type=number]:focus,  
.input-field input[type=password]:focus ,
.input-field input[type=date]:focus {
       border-bottom: .1rem solid #CDB44F !important;
        box-shadow: 0 .1rem #CDB44F !important;
   }
   

.wrapper{
  width: 95%;
  margin:2rem auto;   
  display: flex;
  flex-direction: column;
}

#test1{
	margin: -3rem 0 0 0;
	padding: 0;
}
.box{
  width: 100%;
  margin: 0 1rem 0 5.6rem;
  padding: 1.6rem;
}
.evtbox {
  width: 40rem;
  padding: 3rem;
  width: auto;
  margin: 4rem auto;
  position:relative;
}
ul.item li a{
	font-size:4rem;
}
/*created event card*/
.eventcontainer {
  margin-top: 3rem;
  max-width: 95rem;
}
.evtcontainer {
	margin-top: 3rem;
	width: 100%;
	padding: 0;
}

.evtcard {
  overflow: auto;
}
.subheader {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 0.75rem 1.6rem;
}
.list-divider {
  border: 0;
  height: .1rem;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-right: 1.6rem;
  margin-left: 7.5rem;
}
.licth{
	background:#CDB44F;
	padding:1rem;
	width:100%;
}
.lict{
	font-size:2rem;
}

.list {
  margin: 0;
}

.list li {
  padding: 0 1.6rem;
}

.list li .valign-wrapper {
  min-height: 7.2rem;
}

.list i.circle {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.26);
}

.list .title span {
  color: rgba(0, 0, 0, 0.54);
}

.ml-auto {
  margin-left: auto;
}

i.ml-auto {
  color: rgba(0, 0, 0, 0.26);
}

.eventContainerFront {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventContainerFront ul {
  width: 320px;
}

.circle {
  top: 25% !important;
}

.title {
  font-weight: bold;
}

.secondary-text {
  font-weight: 300;
  font-style: italic;
}

.secondary-content {
  top: 10px !important;
  right: 7px !important;
}

.fa-chevron-right {
  position: relative;
  top: .5em;
}


.meeting-color {
  background-color: rgba(196, 0, 200, 1) !important;
}

.submittal-color {
  background-color: rgba(0, 116, 138, 1) !important;
}

.interview-color {
  background-color:  rgba(29, 179, 81, 1) !important;
}

.start-color {
  background-color: rgba(255, 124, 54, 1) !important;
}

.stop-color {
  background-color: rgba(128, 0, 0, 1) !important;
}

.list-info {
  padding-left: 1.5rem;
  }
  .meeting {
    border-left: 5px solid rgba(196, 0, 200, 1);
  }
 .submittal {
    border-left: 5px solid rgba(0, 116, 138, 1);
  }
 .interview {
    border-left: 5px solid rgba(29, 179, 81, 1);
  }
  .start {
    border-left: 5px solid rgba(128, 0, 0, 1);
  }
 .stop {
    border-left: 5px solid rgba(128, 0, 0, 1);
  }



.bg-image {
	background-image: url("evt.jpg");	 
	z-index:-1;	
	height: 100%;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	left: 50%;
	transform: translate(-50%, -10%);
	z-index: 299;
	width: 70%;
	padding: 20px;
	text-align: center;	
}
.carousel-item img {
	object-fit: contain;
}
.pagination li.active {
	background-color: #e6c964;
}

    
.portfolio{
  margin-top: 30px
  margin-bottom: 30px
}

.line-dividing{
  border: 1px solid darkgrey
}

.contact-me{
  margin-bottom: 30px
}
.contact-content{
    font-size: 22px
    color: grey
  }
.contact{
    font-size: 14px
    color: grey
  }

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}